<h1>Editar visitante</h1>

<%= render "form", visitor: @visitor %>

<br>

<div>
  <%= link_to "Mostrar este visitante", @visitor, class: "btn btn-dark" %> 
  <%= link_to "Voltar", visitors_path, class: "btn btn-dark" %>
</div>
