<h1>Editar visita</h1>

<%= render "form", visit: @visit %>

<br>

<div>
  <%= link_to "Mostrar esta visita", @visit, class: "btn btn-dark" %> 
  <%= link_to "Voltar", visits_path, class: "btn btn-dark" %>
</div>
