<h1>Editar setor</h1>

<%= render "form", sector: @sector %>

<br>

<div>
  <%= link_to "Mostrar este setor", @sector, class: "btn btn-dark" %>
  <%= link_to "Voltar", sectors_path, class: "btn btn-dark" %>
</div>
