<h1>Editar usuário</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Mostrar este usuário", @user, class: "btn btn-dark" %> 
  <%= link_to "Voltar", users_path, class: "btn btn-dark" %>
</div>
