<h1>Editar unidade</h1>

<%= render "form", unit: @unit %>

<br>

<div>
  <%= link_to "Mostrar esta unidade", @unit, class: "btn btn-dark" %>
  <%= link_to "Voltar", units_path, class: "btn btn-dark" %>
</div>
